* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F4F7;
}

.search-input {
    height: 40px;
    width: 250px;
    outline: none;
    border-radius: 50px;
    border: none;
    background-color: #F0F2F5;
    padding-left: 20px;
}

.search-input::placeholder {
    color: #65686C;
    font-size: 15px;
}

.menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D6D9DD;
    cursor: pointer;
}

.main {
    width: 100%;
}

.menu-links {
    width: 20%;
}

.posts {
    width: 60%;
}

.friends {
    width: 20%;
}

.menu-text {
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.friends-text {
    font-size: 1rem;
    color: #65686C;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.post-box {
    margin: 0 auto;
    background-color: #fff;
    width: 70%;
    box-shadow: rgba(210, 208, 208, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 17px 17px;
    padding-bottom: 0;
}


.post-box-2 {
    margin: 0 auto;
    background-color: #fff;
    width: 70%;
    box-shadow: rgba(210, 208, 208, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.btn-post {
    background-color: #F0F2F5;
    border-radius: 50px;
    width: 100%;
    color: #606366;
    text-align: left;
}

.links {
    padding-bottom: 12px;
}

.link-box {
    padding-bottom: 12px;
    border-bottom: 1px rgb(216, 216, 216) solid;
}

.social-btn {
    border: none;
    background-color: #fff;
    outline: none;
}

.modal-title {
    text-align: center;
}

.public {
    color: #000;
    font-weight: 400;
    margin: 0;
    font-size: 13px;
}

.pub-box{
    background-color: #E2E5E9;
    border-radius: 5px;
    width: 70px;
    padding-top: 0;
    padding-left: 0;
}

.woym{
    border: none;
    outline: none;
    color: #6C6F73;
    font-size: 23px;
    width: 100%;
    height: 170px;
}

.user-text{
    padding-top: 10px
}

.file-button{
    cursor: pointer;
}

.post-edits{
    border: 1px rgb(190, 186, 186) solid;
    border-radius: 6px;
}

.post-div{
    width: 100%;
    height: fit-content;
}

.post-img{
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .menu-links, .friends {
        display: none !important;
    }
    .posts {
        width: 100% !important;
    }
}

@media (max-width: 767.98px) {
    .posts {
        padding: 1rem;
    }

    .post-box {
        padding: 1rem;
        border-radius: 10px;
    }

    .link-box {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 0.75rem;
    }

    .link-box img {
        width: 36px;
    }

    .btn-post {
        width: 100%;
        text-align: left;
    }

    .modal-content {
        padding: 0.5rem;
    }

    .modal-body .links {
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
    }

    .modal-body .menu-text {
        font-size: 1rem;
    }

    .woym {
        width: 100%;
        min-height: 100px;
        font-size: 1rem;
        resize: vertical;
    }

    .post-edits {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .post-edits .d-flex {
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .social {
        flex-direction: column;
        gap: 1rem;
    }

    .social > div {
        width: 100%;
        justify-content: flex-start;
        gap: 1rem;
    }

    .social-btn {
        flex: 1;
        text-align: left;
    }

    .file-button {
        width: 24px;
        height: 24px;
    }
}
